/* Signup page styling */

/* Universal */
* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/* Body styling */
body {
  background-color: #282727;
  margin: 0;
  padding: 0;
}

/* Right side of the page */
#right_section {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #282727;
}

/* Left side of the page */
#left_section {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url('https://i.pinimg.com/originals/38/be/28/38be2822963169c90d6b4cbbc2b8e1a4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0 20px 20px 0;
}

/* Signup container */
.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 40px;
  position: relative;
  top: 5%;
  z-index: 1;
  color: white;
  text-align: center;
}

/* Login page link */
#pagelink {
  color: white;
}

/* Logo */
img {
  height: auto;
  width: 200px;
}

/* Input field styling */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 30px;
  background-color: transparent;
  outline: none;
  color: white;
}

/* Role dropdown styling */
#role {
  float: left;
}

#role_dropdown {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  margin-bottom: 30px;
}

#role_dropdown:hover {
  /* Change border color on hover */
  border-bottom: 2px solid white;
}

#role_dropdown:focus {
  /* Remove focus outline */
  outline: none;
  /* Change border color on focus */
  border-color: white;
}

#role_dropdown::placeholder {
  /* Placeholder text color */
  color: #fff;
}

#role_dropdown option {
  /* Background color of options */
  background-color: #282727;
  /* Text color of options */
  color: #fff;
}

#role_dropdown.invalid {
  /* make the dropdown border red */
  border-bottom: 2px solid red !important;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  border-bottom: 2px solid #ccc;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: white;
}

button {
  width: 100%;
  background-color: gray;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #212223;
}

/* Modal windows styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}